<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <pages validateRequest="false" enableSessionState="true" enableViewState="true" enableViewStateMac="true"/>
    <httpCookies httpOnlyCookies="true"/>
    <sessionState mode="InProc" timeout="30"/>
    <httpModules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>
  </system.web>
  <connectionStrings>
    <add name="Padrao" connectionString="Data Source=DESKTOP-ULDATEK\SQLEXPRESS;Initial Catalog=ProjetoGarage;User Id=sa;Password=diego123;Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Login" path="/Login" type="ProjetoGarage.BL.Handlers.Login" verb="*"/>
      <add name="Dados" path="/Dados" type="ProjetoGarage.BL.Handlers.Dados" verb="GET"/>
      <add name="VerificaSessao" path="/VerificaSessao" type="ProjetoGarage.BL.Handlers.VerificaSessao" verb="*"/>
      <add name="Data" path="/Data" type="ProjetoGarage.BL.Handlers.Data" verb="*"/>
      <add name="Log" path="/GravaLog" type="ProjetoGarage.BL.Handlers.Log" verb="*"/>
      <add name="Email" path="/Email" type="ProjetoGarage.BL.Handlers.EnvioEmail" verb="*"/>
      <add name="ReportPdf" path="/ReportPDF" type="ProjetoGarage.BL.Handlers.ReportPdf" verb="*"/>
      <add name="GenerateXls" path="/GenerateXls" type="ProjetoGarage.BL.Handlers.GenerateXls" verb="GET,POST"/>
    </handlers>
    <modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
  </system.webServer>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>