<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0"/>
    <pages validateRequest="false" enableSessionState="true" enableViewState="true" enableViewStateMac="true"/>
    <httpCookies httpOnlyCookies="true"/>
    <!--<sessionState mode="SQLServer"
                  timeout="30"
                  allowCustomSqlDatabase="true"
                  sqlConnectionString="Data Source=DESKTOP-ULDATEK\SQLEXPRESS;User Id=Session;Password=Session!@#;"
                  sqlCommandTimeout="30"
                  cookieless="UseCookies"/>-->
    <!--sqlConnectionString="Data Source=DESKTOP-ULDATEK\SQLEXPRESS;Initial Catalog=ASPState;User Id=Session;Password=Session!@#; Asynchronous Processing=true"-->
    <httpModules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>
  </system.web>
  <connectionStrings>
    <add name="Padrao" connectionString="Data Source=DESKTOP-ULDATEK\SQLEXPRESS;Initial Catalog=ProjetoGarage;User Id=sa;Password=diego123;Asynchronous Processing=true"
      providerName="System.Data.SqlClient"/>
    <!--<add name="Padrao" connectionString="Data Source=mssql914.umbler.com,5003;Initial Catalog=projetogarage;User Id=diego;Password=diego123;Asynchronous Processing=true"
      providerName="System.Data.SqlClient"/>-->
    <!--<add name="Log" connectionString="Data Source=10.140.1.10;Initial Catalog=EmailReaderLog;User Id=bsource;Password=bsource123;Asynchronous Processing=true"
      providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Login" path="/Login" type="ProjetoGarage.BL.Handlers.Login" verb="*"/>
      <add name="Dados" path="/Dados" type="ProjetoGarage.BL.Handlers.Dados" verb="GET"/>
      <add name="VerificaSessao" path="/VerificaSessao" type="ProjetoGarage.BL.Handlers.VerificaSessao" verb="*"/>
      <add name="Data" path="/Data" type="ProjetoGarage.BL.Handlers.Data" verb="*"/>
      <add name="Log" path="/GravaLog" type="ProjetoGarage.BL.Handlers.Log" verb="*"/>
      <!--<add name="DadosEnderecos" path="/DadosEnderecos" type="IMPP.BL.Handlers.DadosEnderecos" verb="GET"/>
      <add name="DadosEnderecosPost" path="/DadosEnderecos" type="IMPP.BL.Handlers.DadosEnderecosPost" verb="POST"/>-->
    </handlers>
    <modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
  </system.webServer>
</configuration>