<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0"/>
    <pages validateRequest="false" enableSessionState="true" enableViewState="true" enableViewStateMac="true"/>
    <sessionState mode="SQLServer" timeout="20" allowCustomSqlDatabase="true"  sqlConnectionString="Data Source=DESKTOP-ULDATEK\SQLEXPRESS;Initial Catalog=ASPState;User Id=Session;Password=Session!@#; Asynchronous Processing=true" sqlCommandTimeout="30" cookieless="true"/>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="Padrao" connectionString="Data Source=DESKTOP-ULDATEK\SQLEXPRESS;Initial Catalog=ProjetoGarage;User Id=sa;Password=diego123;Asynchronous Processing=true"
      providerName="System.Data.SqlClient"/>
    <!--<add name="Log" connectionString="Data Source=10.140.1.10;Initial Catalog=EmailReaderLog;User Id=bsource;Password=bsource123;Asynchronous Processing=true"
      providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Login" path="/Login" type="ProjetoGarage.BL.Handlers.Login" verb="*"/>
      <add name="Dados" path="/Dados" type="ProjetoGarage.BL.Handlers.Dados" verb="GET"/>
      <add name="VerificaSessao" path="/VerificaSessao" type="ProjetoGarage.BL.Handlers.VerificaSessao" verb="*"/>
      <add name="Data" path="/Data" type="ProjetoGarage.BL.Handlers.Data" verb="*"/>
      <add name="Log" path="/GravaLog" type="ProjetoGarage.BL.Handlers.Log" verb="*"/>
      <!--<add name="DadosEnderecos" path="/DadosEnderecos" type="IMPP.BL.Handlers.DadosEnderecos" verb="GET"/>
      <add name="DadosEnderecosPost" path="/DadosEnderecos" type="IMPP.BL.Handlers.DadosEnderecosPost" verb="POST"/>-->
    </handlers>
  </system.webServer>
</configuration>